/chroma_db
/data/attachments/*
/data/chm/*
!/data/chm/.gitkeep
/data/docs/*
!/data/docs/.gitkeep
/data/jsonl/*
!/data/jsonl/.gitkeep
/log
/storage
/venv
.env
test.py
testChm.py
/models
/ollama_data
/data/images